b-cov
t
!t/
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
node_modules*
*.log
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
iron.iml
*.sublime-workspace
*.sublime-project
.tm_properties
.tags*
.tags_sorted_by_file
.buildpath
.project
coverage
.vscode
.supman-cache/
.git_hooks/
.uglify
yarn-error.log
dist/*
dist/
dist*